@import "var"
@import "mixins"

.main-career
  &__banner
    position: relative
    background-color: $color-dark-blue

  &__title
    @include text-parameters (700, 2.62rem, 3.19rem, $color-white)
    max-width: 400px
    margin-bottom: 6px
    overflow: hidden
  &__description
    @include text-parameters (500, 1rem, 1.25rem, $color-white)
    max-width: 640px
    margin-bottom: 51px
    overflow: hidden
  &__details-block
    display: flex
    justify-content: flex-start
    align-items: start
    column-gap: 30px
    margin-bottom: 35px
    &__description
      @include text-parameters (500, 0.88rem, 1.06rem, $color-white)
      position: relative
      &:before
        @include line-gradient-pseudo (unset, 0, 100px)
        top: -7px
        height: 2px
  &__price, &__sale
    @include text-parameters (700, 1.75rem, 2.13rem, $color-white)
    max-width: 515px
  &__price
    position: relative
    max-width: 290px
    margin-bottom: 35px
    &:before
      @include line-gradient-pseudo (unset, 0, 100px)
      top: -7px
      height: 2px
  &__sale
    margin-bottom: 14px
  &__button
    @include button-orange
  &__icon
    position: absolute
    &.icon-1
      top: 10%
      left: 10%
    &.icon-2
      bottom: -9%
      left: 6%
    &.icon-3
      top: 36%
      left: 41%
    &.icon-4
      bottom: -9%
      left: 35%
    &.icon-5
      top: 5%
      right: 36%
    &.icon-6
      bottom: 10%
      right: 38%
    &.icon-7
      top: 27%
      right: 20%
    &.icon-8
      top: 10%
      right: 6%
    &.icon-9
      right: 5%
      bottom: -5%
  &__info
    padding: 80px 0 142px 0
    &__container
      column-gap: 50px
      &__item.owl:before
        bottom: -90%
    &__preferences
      display: flex
      justify-content: flex-start
      align-items: start
      column-gap: 21px
      padding-top: 37px
      &__item img
        margin-bottom: 18px
      &__title
        @include text-parameters(700, 1.5rem, 1.81rem, $color-black)
        margin-bottom: 14px
        overflow: hidden
      &__text
        @include text-parameters(400, 0.88rem, 1.06rem, $color-black)
        max-width: 250px
        overflow: hidden
  &__video
    padding-bottom: 216px
  &__owner
    display: flex
    justify-content: flex-start
    align-items: start
    column-gap: 120px
    padding-bottom: 68px
    &__pic
      margin-bottom: 24px
    &__name
      @include text-parameters(700, 1.125rem, 1.375rem, $color-black)
      margin-bottom: 12px
    &__about
      @include text-parameters(500, 0.875rem, 1.25rem, $color-dark-grey)
    &__text-block
      padding-top: 23px
      max-width: 680px
      overflow: hidden
    &__text
      @include text-parameters(400, 1rem, 1.625rem, $color-black)
      margin-bottom: 20px
      &.gray-text
        font-size: 0.875rem
        color: $color-dark-grey

  &__values
    padding-bottom: 74px
    &__title
      @include text-parameters(700, 2.25rem, 2.125rem, $color-black)
      margin-bottom: 53px
    &__container
      display: flex
      justify-content: flex-start
      align-items: start
      column-gap: 20px
    &__image
      margin-bottom: 25px
    &__description
      @include text-parameters(500, 1rem, 1.5rem, $color-black)
      max-width: 220px
      overflow: hidden



