@import "var"
@import "mixins"

.main-career
  overflow: hidden
  &__banner
    position: relative
    background-color: $color-dark-blue
    @media screen and (max-width: 1060px)
      padding-bottom: 23px
  &__photo
    @media screen and (max-width: 1060px)
      width: 110%
    & img
      width: 100%
  &__title
    @include text-parameters (700, 2.62rem, 3.19rem, $color-white)
    max-width: 400px
    margin-bottom: 6px
    overflow: hidden
    @media screen and (max-width: 530px)
      font-size: 1.5rem
      line-height: 1.8125rem
  &__description
    @include text-parameters (500, 1rem, 1.25rem, $color-white)
    max-width: 640px
    margin-bottom: 51px
    overflow: hidden
    @media screen and (max-width: 530px)
      font-size: 0.875rem
      line-height: 1.0625rem
  &__details-block
    display: flex
    justify-content: flex-start
    align-items: start
    column-gap: 30px
    margin-bottom: 35px
    @media screen and (max-width: 530px)
      display: block
    &__description
      @include text-parameters (500, 0.88rem, 1.06rem, $color-white)
      position: relative
      @media screen and (max-width: 530px)
        font-size: 0.875rem
        line-height: 1.0625rem
      &:not(.second)
        @media screen and (max-width: 530px)
          margin-bottom: 36px
      &.second
        @media screen and (max-width: 530px)
          margin-bottom: 48px
      &:before
        @include line-gradient-pseudo (unset, 0, 100px)
        top: -7px
        height: 2px
      @media screen and (max-width: 530px)
        &:before
          width: 30%
      @media screen and (max-width: 420px)
        &:before
          width: 40%
  &__price, &__sale
    @include text-parameters (700, 1.75rem, 2.13rem, $color-white)
    max-width: 515px
  &__price
    position: relative
    max-width: 290px
    margin-bottom: 35px
    &:before
      @include line-gradient-pseudo (unset, 0, 100px)
      top: -7px
      height: 2px
  &__sale
    margin-bottom: 14px
    @media screen and (max-width: 530px)
      font-size: 1.5rem
      line-height: 1.8125rem
  &__button
    @include button-orange
  &__icon
    position: absolute
    &.icon-1
      top: 10%
      left: 10%
      @media screen and (max-width: 1830px)
        left: 7%
      @media screen and (max-width: 1690px)
        left: 4%
      @media screen and (max-width: 1580px)
        left: 1%
      @media screen and (max-width: 1480px)
        left: -3%
      @media screen and (max-width: 1380px)
        left: -6%
      @media screen and (max-width: 1300px)
        display: none
      @media screen and (max-width: 1060px)
        display: block
        left: 15%
      @media screen and (max-width: 630px)
        top: 5%
      @media screen and (max-width: 500px)
        top: 2%
        left: 12%
      @media screen and (max-width: 430px)
        left: 25%
        top: 5%
        width: 44px
        height: auto
    &.icon-2
      bottom: -9%
      left: 6%
      @media screen and (max-width: 1690px)
        left: 2%
      @media screen and (max-width: 1580px)
        left: -1%
      @media screen and (max-width: 1480px)
        left: -4%
      @media screen and (max-width: 1380px)
        left: -7%
      @media screen and (max-width: 1300px)
        display: none
    &.icon-3
      top: 36%
      left: 41%
      @media screen and (max-width: 1770px)
        left: 38%
      @media screen and (max-width: 1570px)
        left: 35%
      @media screen and (max-width: 1400px)
        left: 31%
      @media screen and (max-width: 1100px)
        left: 33%
      @media screen and (max-width: 1060px)
        display: none
    &.icon-4
      bottom: -9%
      left: 35%
      @media screen and (max-width: 1770px)
        left: 33%
      @media screen and (max-width: 1570px)
        left: 31%
      @media screen and (max-width: 1400px)
        left: 29%
      @media screen and (max-width: 1100px)
        left: 31%
      @media screen and (max-width: 1060px)
        display: none
    &.icon-5
      top: 5%
      right: 36%
      @media screen and (max-width: 1230px)
        right: 33%
      @media screen and (max-width: 1060px)
        bottom: 44%
        left: 7%
        top: unset
        right: unset
      @media screen and (max-width: 860px)
        bottom: 49%
      @media screen and (max-width: 730px)
        bottom: 54%
      @media screen and (max-width: 595px)
        bottom: 60%
      @media screen and (max-width: 500px)
        bottom: 65%
        width: 70px
        height: auto
      @media screen and (max-width: 430px)
        bottom: unset
        top: 23%
        left: 5%
      @media screen and (max-width: 350px)
        top: 19%
        left: 3%


    &.icon-6
      bottom: 10%
      right: 38%
      @media screen and (max-width: 1730px)
        right: 35%
      @media screen and (max-width: 1330px)
        right: 33%
      @media screen and (max-width: 1230px)
        right: 31%
      @media screen and (max-width: 1170px)
        bottom: 31%
        right: 3%
      @media screen and (max-width: 1060px)
        bottom: 52%
      @media screen and (max-width: 730px)
        bottom: 59%
      @media screen and (max-width: 595px)
        bottom: 61%
      @media screen and (max-width: 500px)
        bottom: 67%
      @media screen and (max-width: 430px)
        bottom: unset
        top: 15%
        right: -10%
        width: 96px
        height: auto

    &.icon-7
      top: 27%
      right: 20%
      @media screen and (max-width: 1750px)
        right: 17%
      @media screen and (max-width: 1600px)
        right: 15%
      @media screen and (max-width: 1490px)
        right: 12%
      @media screen and (max-width: 1370px)
        display: none
    &.icon-8
      top: 10%
      right: 6%
      @media screen and (max-width: 1750px)
        right: 3%
      @media screen and (max-width: 1600px)
        right: 1%
        top: 37%
      @media screen and (max-width: 1170px)
        display: none
    &.icon-9
      right: 5%
      bottom: -5%
      @media screen and (max-width: 1600px)
        right: -1%
        bottom: -15%
      @media screen and (max-width: 1060px)
        display: none
  &__info

    padding: 80px 0 142px 0
    @media screen and (max-width: 930px)
      padding-top: 40px
    @media screen and (max-width: 860px)
      padding-bottom: 40px
    &__container
      column-gap: 50px

      &__item.owl
        &:before
          bottom: -90%
          @media screen and (max-width: 1045px)
            left: -21%
          @media screen and (max-width: 960px)
            left: -26%
          @media screen and (max-width: 768px)
            left: 10%
          @media screen and (max-width: 590px)
            left: 5%
          @media screen and (max-width: 515px)
            left: 1%
          @media screen and (max-width: 450px)
            left: -4%
            bottom: -80%
          @media screen and (max-width: 400px)
            left: -20%
        & > .owl-text > .owl-desc
          @media screen and (max-width: 1045px)
            line-height: 1.1rem
          @media screen and (max-width: 950px)
            font-size: 0.9rem
          @media screen and (max-width: 930px)
            font-size: 1rem
            line-height: 1.5rem
          @media screen and (max-width: 768px)
            font-size: 1.5rem
            line-height: 1.8rem
          @media screen and (max-width: 430px)
            font-size: 1.3rem
            line-height: 1.5rem
          @media screen and (max-width: 365px)
            font-size: 1.2rem
            line-height: 1.3rem
    &__preferences
      display: flex
      justify-content: flex-start
      align-items: start
      column-gap: 21px
      padding-top: 37px
      @media screen and (max-width: 930px)
        justify-content: space-between
        flex-wrap: wrap
        padding-top: 0
      @media screen and (max-width: 825px)
        justify-content: center
        row-gap: 21px
      @media screen and (max-width: 465px)
        padding-top: 40px

      &__item
        @media screen and (max-width: 550px)
          width: 100%
        & img
          margin-bottom: 18px
      &__title
        @include text-parameters(700, 1.5rem, 1.81rem, $color-black)
        margin-bottom: 14px
        overflow: hidden
      &__text
        @include text-parameters(400, 0.88rem, 1.06rem, $color-black)
        max-width: 250px
        overflow: hidden
        @media screen and (max-width: 550px)
          max-width: 100%
  &__video
    padding-bottom: 216px
    @media screen and (max-width: 950px)
      padding-bottom: 40px
  &__owner
    display: flex
    justify-content: flex-start
    align-items: start
    column-gap: 120px
    padding-bottom: 68px
    @media screen and (max-width: 1270px)
      column-gap: 60px
    @media screen and (max-width: 950px)
      display: block
      text-align: center
      padding-bottom: 40px
    &__photo
      padding-bottom: 32px
    &__pic
      margin-bottom: 24px
      & img
        @media screen and (max-width: 950px)
          width: 90%
        @media screen and (max-width: 500px)
          width: 100%
      @media screen and (max-width: 950px)
        object-fit: contain

    &__name
      @include text-parameters(700, 1.125rem, 1.375rem, $color-black)
      margin-bottom: 12px
    &__about
      @include text-parameters(500, 0.875rem, 1.25rem, $color-dark-grey)
    &__text-block

      max-width: 680px
      overflow: hidden
      @media screen and (max-width: 950px)
        max-width: 100%

    &__text
      @include text-parameters(400, 1rem, 1.625rem, $color-black)
      margin-bottom: 20px
      &.gray-text
        font-size: 0.875rem
        color: $color-dark-grey
        margin-bottom: 0
        @media screen and (max-width: 400px)
          font-size: 0.75rem
      @media screen and (max-width: 400px)
        font-size: 0.875rem

  &__values
    padding-bottom: 74px
    @media screen and (max-width: 950px)
      padding-bottom: 40px
    &__title
      @include text-parameters(700, 2.25rem, 2.125rem, $color-black)
      margin-bottom: 53px
      @media screen and (max-width: 490px)
        text-align: center
        margin-bottom: 40px
      @media screen and (max-width: 400px)
        font-size: 1.5rem
    &__container
      display: flex
      justify-content: flex-start
      align-items: start
      column-gap: 20px
      @media screen and (max-width: 1200px)
        flex-wrap: wrap
        row-gap: 20px
      @media screen and (max-width: 490px)
        display: block
        text-align: center
    &__image
      margin-bottom: 25px
    &__description
      @include text-parameters(500, 1rem, 1.5rem, $color-black)
      max-width: 220px
      overflow: hidden
      @media screen and (max-width: 490px)
        max-width: 100%
      @media screen and (max-width: 400px)
        font-size: 0.75rem
        line-height: 1.125rem
    &__item:not(:last-of-type)
      @media screen and (max-width: 490px)
        margin-bottom: 20px

  &__team
    position: relative
    margin-bottom: 74px
    &__image
      margin-bottom: 25px
      text-align: center
    &__name
      margin-bottom: 20px
      text-align: center
    &__text
      text-align: center
  &__programs
    padding-bottom: 104px
    &__info
      margin-bottom: 57px
    &__label
      @include text-parameters (700, 2.25rem, 2.125rem, $color-black)
      margin-bottom: 40px
    &__benefits
      display: flex
      justify-content: flex-start
      align-items: start
      column-gap: 20px
      row-gap: 20px
    &__item
      @include text-parameters (500, 1rem, 1.5rem, $color-black)
      position: relative
      width: 15%
      &:before
        @include line-gradient-pseudo (unset, 0, 100px)
        top: -13px
        height: 2px
  &__partners
    padding-bottom: 74px
    &__label
      @include text-parameters (700, 2.25rem, 2.125rem, $color-black)
      margin-bottom: 40px
    &__gallery
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      gap: 20px
    &__item
      @include colored-shadow
      position: relative
      display: flex
      justify-content: center
      align-items: center
      border-radius: 20px
      width: 11.25rem
      height: 7.5rem
      background: $color-white

  &__choice
    margin-bottom: 330px
    &__label
      @include text-parameters (700, 2.25rem, 2.125rem, $color-black)
      margin-bottom: 40px
    &__options
      display: flex
      justify-content: space-between
      align-items: center
      gap: 20px
    &__item
      @include colored-shadow
      position: relative
      padding: 22px 20px 27px
      width: 25%
      border-radius: 20px
      text-align: center
      cursor: pointer
      & img
        margin-bottom: 18px
      &.blue
        background: $color-light-blue
      &.yellow
        background: $color-yellow
      &.purple
        background: $color-violet
      &.green
        background: $color-green
    &__text
      @include text-parameters (500, 1rem, 1.5rem, $color-black)
      text-align: center
      min-height: 60px
      overflow: hidden

