@import "style-reset"
@import "var"
@import "mixins"
@import "fonts"
@import "burger"
@import "main-index"
@import "header-index"
@import "footer-index"
@import "main-courses"
@import "main-events"

//*
//  border: 1px solid black
.container-main
  max-width: 1210px
  margin: 0 auto
  padding: 0 15px
  &.help
    position: relative
  &.main-courses
    margin-bottom: 330px
    @media screen and (max-width: 1240px)
      margin-bottom: 0
  &.main-events
    @media screen and (max-width: 768px)
      padding: 0
body
  background-color: $bg-gray

//section
//  overflow: hidden

















