@import "var"
@import "mixins"
@import "style-reset"
@import "fonts"

//*
	border: 1px solid red
.container-main
	max-width: 1210px
	margin: 0 auto
	padding: 0 15px

body
	background-color: $bg-gray

.header
	background-color: $color-white
	padding: 20px 0
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		&-logo
				& svg
					vertical-align: middle
				&.blue
						& svg path
								fill: $color-dark-blue
				&.white
						& svg path
								fill: $color-white
		&-menu
				display: flex
				align-items: center
				& li
						@include link-header-menu
						& svg
								margin-right: 9px
		&-contacts
				display: flex
				align-items: center
				& li
						@include link-header-menu
						& svg:not(.arrow)
								margin-right: 9px
						& svg.arrow
								margin-left: 9px
						&.phone
								font: 500 normal 1rem/1.625rem 'Montserrat'
						&.underline
								text-decoration: underline
								position: relative
						&:hover .header__container-contacts-submenu
								display: block
				&-submenu
						display: none
						width: 100%
						position: absolute
						top: 7px
						left: 0
						z-index: 2
						padding-top: 20px
						& li
								width: 100%
								margin-right: 0
								background-color: $color-white
								border: 1px solid $bg-gray
								& a
										width: 100%
										padding: 20px
										text-decoration: none
										@include link-header-menu
						
						