$color-black: #000000
$color-white: #ffffff


$color-transparent: transparent
$color-light-blue: #C7EEFF
$color-orange: #F7941D
$color-light-orange: #FFAE4D
$color-dark-orange: #F7BC75
$color-yellow: #FFE38E
$color-light-yellow: #FFE9A8
$color-violet: #DDDDFF
$color-light-green: #B8EFCF
$color-pink: #FFEEF6
$color-dark-blue: #00093C
$color-gray-line: #E0E0E0
$color-blue-yellow-gradient: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%)


$bg-gray: #F6F7F9